:root {
    /*--background-color: #ee6e73 cc5f63 ff9699 ffb7b8;*/
    --primary-color: #ee6e73;
    --primary-color-dark: #cc5f63;
    --primary-color-numeric: 238, 110, 115;
    --primary-color-raised-hover-solid: #ff9699;
    --primary-color-raised-focus-solid: #ffb7b8;
    --secondary-color: #26a69a;
    --secondary-color-hover-solid: #30B0A4;
    --secondary-color-focus-solid: #44C4B8;
    --background-color-card: #fff;

    --background-color-alt: #f7f7f7;
}

.default_color{background-color: var(--primary-color) !important}
.section:nth-child(odd) { background:var(--background-color-alt); }
h2{color:var(--primary-color);}

.brand-logo{letter-spacing:7px;}
#index-banner{max-height:864px;position:relative;background-color:var(--primary-color);}
#banner-image{width: 100%; height: auto;}

#intro h3 { color:var(--primary-color); }
.promo-headline { font-weight: 400; font-size: 1.64rem; line-height: 110%; margin: calc(1.64rem / 1.5) 0 calc(1.64rem / 2.5) 0;}
.promo i{color:var(--primary-color);font-size:7rem;}
nav ul a{letter-spacing:2px;font-weight:300;}

.card-container { gap: 1rem; }
.member-description { gap: 1rem; line-height: 1.2; }
.member-img-container { aspect-ratio: 4/3; }
.member-img-container .member-img { object-fit: contain; width: 100%; height: 100%; }
.work-content { gap: 1rem; line-height: 1.2; }
.work-description { display: flex; flex-direction: column;}
.work-img-container { aspect-ratio: 16/9; }
.work-img-container .work-img { object-fit: contain; width: 100%; height: 100%; }
.yt-btn-container { margin-top: auto; }

#contact h3 {font-weight: 400; font-size: 1.64rem; line-height: 110%; margin: calc(1.64rem / 1.5) 0 calc(1.64rem / 2.5) 0; }

footer h2 { font-weight: 400; font-size: 1.64rem; line-height: 110%; margin: calc(1.64rem / 1.5) 0 calc(1.64rem / 2.5) 0; }

/* オリジナルからカスタム */
html {
    font-family: "-apple-system","BlinkMacSystemFont","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
    line-height: 1.5;
}
.sidenav { padding-left: 16px; width: 200px }
.sidenav li { list-style-type: none; border-bottom: 1px var(--primary-color) solid; }
.sidenav li a { padding: 0px; }
div .divider { margin: 2px; }
.container { width: 93% }
.collapsible-body { padding: 1rem; }
.card .card-content { padding: 12px; }
.card .card-title { font-weight: normal; }
.btn-small { margin-top: 3px; }