:root {
    /*--background-color: #ee6e73 cc5f63 ff9699 ffb7b8;*/
    /*
    --primary-color: #ee6e73;
    --primary-color-dark: #cc5f63;
    --primary-color-numeric: 238, 110, 115;
    --primary-color-raised-hover-solid: #ff9699;
    --primary-color-raised-focus-solid: #ffb7b8;
    --secondary-color: #26a69a;
    --secondary-color-hover-solid: #30B0A4;
    --secondary-color-focus-solid: #44C4B8;
    */
    /* primary colorのみ元の色と合わせるため本来の輝度を約0.52乗した */
    --md-ref-palette-primary0: #000000;
    --md-ref-palette-primary10: #8e1229;
    --md-ref-palette-primary20: #b53b46;
    --md-ref-palette-primary25: #c54a52;
    --md-ref-palette-primary30: #d4575e;
    --md-ref-palette-primary35: #e16369;
    --md-ref-palette-primary40: #ee6e73;
    --md-ref-palette-primary50: #ff8789;
    --md-ref-palette-primary60: #ffa5a4;
    --md-ref-palette-primary70: #ffbfbe;
    --md-ref-palette-primary80: #ffd6d5;
    --md-ref-palette-primary90: #ffebea;
    --md-ref-palette-primary95: #fff5f5;
    --md-ref-palette-primary98: #fffbfb;
    --md-ref-palette-primary99: #fffdfd;
    --md-ref-palette-primary100: #ffffff;

    --md-ref-palette-neutral0: #000000;
    --md-ref-palette-neutral10: #201a1a;
    --md-ref-palette-neutral20: #362f2e;
    --md-ref-palette-neutral25: #413a39;
    --md-ref-palette-neutral30: #4d4545;
    --md-ref-palette-neutral35: #595050;
    --md-ref-palette-neutral40: #655c5c;
    --md-ref-palette-neutral50: #7f7574;
    --md-ref-palette-neutral60: #998e8e;
    --md-ref-palette-neutral70: #b4a9a8;
    --md-ref-palette-neutral80: #d0c4c3;
    --md-ref-palette-neutral90: #ece0df;
    --md-ref-palette-neutral95: #fbeeed;
    --md-ref-palette-neutral98: #fff8f7;
    --md-ref-palette-neutral99: #fffbff;
    --md-ref-palette-neutral100: #ffffff;

    --md-ref-palette-neutral-variant0: #000000;
    --md-ref-palette-neutral-variant10: #251818;
    --md-ref-palette-neutral-variant20: #3b2d2d;
    --md-ref-palette-neutral-variant25: #463838;
    --md-ref-palette-neutral-variant30: #524343;
    --md-ref-palette-neutral-variant35: #5f4f4e;
    --md-ref-palette-neutral-variant40: #6b5a5a;
    --md-ref-palette-neutral-variant50: #857372;
    --md-ref-palette-neutral-variant60: #a08c8c;
    --md-ref-palette-neutral-variant70: #bba6a6;
    --md-ref-palette-neutral-variant80: #d7c1c1;
    --md-ref-palette-neutral-variant90: #f4dddc;
    --md-ref-palette-neutral-variant95: #ffedec;
    --md-ref-palette-neutral-variant98: #fff8f7;
    --md-ref-palette-neutral-variant99: #fffbff;
    --md-ref-palette-neutral-variant100: #ffffff;
    
    --md-sys-color-primary-light: var(--md-ref-palette-primary40);
    --md-sys-color-on-primary-light: var(--md-ref-palette-primary100);
    --md-sys-color-primary-container-light: var(--md-ref-palette-primary90);
    --md-sys-color-on-primary-container-light: var(--md-ref-palette-primary10);
    
    --md-sys-color-background-light: var(--md-ref-palette-neutral99);
    --md-sys-color-on-background-light: var(--md-ref-palette-neutral10);
    --md-sys-color-surface-light: var(--md-ref-palette-neutral99);
    --md-sys-color-on-surface-light: var(--md-ref-palette-neutral10);
    --md-sys-color-surface-variant-light: var(--md-ref-palette-neutral-variant90);
    --md-sys-color-on-surface-variant-light: var(--md-ref-palette-neutral-variant30);
    --md-sys-color-outline-light: var(--md-ref-palette-neutral-variant50);
    --md-sys-color-outline-variant-light: var(--md-ref-palette-neutral-variant80);
    --md-sys-color-inverse-primary-light: var(--md-ref-palette-primary80);
    --md-sys-color-inverse-surface-light: var(--md-ref-palette-neutral20);
    --md-sys-color-inverse-on-surface-light: var(--md-ref-palette-neutral95);
    --md-sys-color-surface-tint-light: var(--md-ref-palette-primary40);
    --md-sys-color-scrim-light: var(--md-ref-palette-neutral0);

    /*--background-color-alt: #f7f7f7;*/
    --background-color-alt: var(--md-ref-palette-neutral95);
}

.section:nth-child(odd) { background:var(--background-color-alt); }
h2{color:var(--md-sys-color-primary);}

nav { 
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}
.brand-logo{letter-spacing:7px;}

#index-banner{max-height:864px;position:relative;background-color:var(--md-sys-color-primary);}
#banner-image{width: 100%; height: auto;}

#intro h3 { color:var(--md-sys-color-primary); }
.promo-headline { font-weight: 400; font-size: 1.64rem; line-height: 110%; margin: calc(1.64rem / 1.5) 0 calc(1.64rem / 2.5) 0;}
.promo i{color:var(--md-sys-color-primary);font-size:7rem;}
nav ul a{letter-spacing:2px;font-weight:300;}

#work .card, #member .card { background-color: #fff; }
.card-container { gap: 1rem; }
.member-description { gap: 1rem; line-height: 1.2; }
.member-img-container { aspect-ratio: 4/3; }
.member-img-container .member-img { object-fit: contain; width: 100%; height: 100%; }
.work-content { gap: 1rem; line-height: 1.2; }
.work-description { display: flex; flex-direction: column;}
.work-img-container { aspect-ratio: 16/9; }
.work-img-container .work-img { object-fit: contain; width: 100%; height: 100%; }
.yt-btn-container { margin-top: auto; }

#contact h3 {font-weight: 400; font-size: 1.64rem; line-height: 110%; margin: calc(1.64rem / 1.5) 0 calc(1.64rem / 2.5) 0; }
#contact .card {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}

footer h2 { font-weight: 400; font-size: 1.64rem; line-height: 110%; margin: calc(1.64rem / 1.5) 0 calc(1.64rem / 2.5) 0; color: var(--md-sys-color-on-primary) }

/* オリジナルからカスタム */
html {
    font-family: "-apple-system","BlinkMacSystemFont","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
    line-height: 1.5;
}
.sidenav { padding-left: 16px; width: 200px }
.sidenav li { list-style-type: none; border-bottom: 1px var(--md-sys-color-primary) solid; }
.sidenav li a { padding: 0px; }
div .divider { margin: 2px; }
.container { width: 93% }
.collapsible-body { padding: 1rem; }
.card .card-content { padding: 12px; }
.card .card-title { font-weight: normal; }
.btn-small { margin-top: 3px; }