<h3 class="center-align" style="background-color: #C2185B; color: #FFFFFF">2026 春新歓</h3>
<p>
  北大アニ研の春新歓は<time datetime="2026-04">4月</time>中の4/1を除いた毎週水曜日18:30～20:30と毎週土曜日15:30～17:00に、サークル会館205号室にて行います！<br>
  途中参加や途中退室OK！<br>
  原画体験や上映会を予定しています！<br>
  ほか、ミニ説明会を4月中の4/1を除く毎週水曜日12:00～13:00に北部食堂2Fの新歓BOXにて行います！<br>
  是非気軽にご参加ください！<br>
  何か質問がある人は <a href="https://x.com/hokudai_anime">X</a> / <a href="https://www.instagram.com/hokudai_anime/">Instagram</a> からDMもしくはメールをください！！<br>
  参加お待ちしています！
</p>
<img width="1152" height="648" class="responsive-img" style="margin: auto;" src="/assets/img/events/2026/spring_shinkan/calendar.apng" alt="">
