<h3 class="center-align event-header" style="background-color: #324f8b; color: #FFFFFF">楡陵祭2026</h3>
<p>
  北大アニ研は6/5(金),6/6(土),6/7(日)に北大にて開催される楡陵祭2026に出展します！<br>
  自主製作アニメの上映、フィルム映写機の動展示、DVD・グッズの販売を行う予定です！<br>
  総合教育棟E201にて皆様をお待ちしております！
</p>
<div class="row">
  <div class="col s12 m6">
    <img class="responsive-img" src="/assets/img/events/2026/yuryousai/program.jpg" alt="新作を含む4作品を上映！">
  </div>
  <div class="col s12 m6">
    <img class="responsive-img" src="/assets/img/events/2026/yuryousai/schedule.jpg" alt="1日目は13時から17時、2日目は10時から17時、3日目は10時から14時、毎正時に上映します">
  </div>
</div>

