<h3 class="center-align" style="background-color: #020166; color: #FFFFFF">コミックマーケット106(2025夏)</h3>
<p>
  北大アニ研は<time datetime="2025-08-17">8月17日</time>日曜日にコミックマーケット106(2日目)に出展します！<br>
  配置は「日曜日 南地区 "i"ブロック－01b(南2ホール)」です！<br>
  DVD+資料集のセットおよびグッズセット(ポストカード2種+クリアファイル+キーホルダー+コースター)を、それぞれ1000円で頒布する予定です！
</p>
<div class="row">
  <div class="col s12 m6">
    <img class="responsive-img" src="/assets/img/events/2025/comiket106/menu1.jpg" alt="おしながき DVD+資料集:1000円 グッズセット:1000円">
  </div>
  <div class="col s12 m6">
    <img class="responsive-img" src="/assets/img/events/2025/comiket106/menu2.jpg" alt="グッズセット: ポストカード2種, クリアファイル, キーホルダー(2種のうち1種), コースター">
  </div>
</div>
