:root {
    /*--background-color: #ee6e73 cc5f63 ff9699 ffb7b8;*/
    /*
    --primary-color: #ee6e73;
    --primary-color-dark: #cc5f63;
    --primary-color-numeric: 238, 110, 115;
    --primary-color-raised-hover-solid: #ff9699;
    --primary-color-raised-focus-solid: #ffb7b8;
    --secondary-color: #26a69a;
    --secondary-color-hover-solid: #30B0A4;
    --secondary-color-focus-solid: #44C4B8;
    */
    /* primary colorのみ元の色と合わせるため本来の輝度を約0.52乗した */
    --md-ref-palette-primary0: #000000;
    --md-ref-palette-primary10: #8e1229;
    --md-ref-palette-primary20: #b53b46;
    --md-ref-palette-primary25: #c54a52;
    --md-ref-palette-primary30: #d4575e;
    --md-ref-palette-primary35: #e16369;
    --md-ref-palette-primary40: #ee6e73;
    --md-ref-palette-primary50: #ff8789;
    --md-ref-palette-primary60: #ffa5a4;
    --md-ref-palette-primary70: #ffbfbe;
    --md-ref-palette-primary80: #ffd6d5;
    --md-ref-palette-primary90: #ffebea;
    --md-ref-palette-primary95: #fff5f5;
    --md-ref-palette-primary98: #fffbfb;
    --md-ref-palette-primary99: #fffdfd;
    --md-ref-palette-primary100: #ffffff;

    --md-ref-palette-neutral0: #000000;
    --md-ref-palette-neutral10: #201a1a;
    --md-ref-palette-neutral20: #362f2e;
    --md-ref-palette-neutral25: #413a39;
    --md-ref-palette-neutral30: #4d4545;
    --md-ref-palette-neutral35: #595050;
    --md-ref-palette-neutral40: #655c5c;
    --md-ref-palette-neutral50: #7f7574;
    --md-ref-palette-neutral60: #998e8e;
    --md-ref-palette-neutral70: #b4a9a8;
    --md-ref-palette-neutral80: #d0c4c3;
    --md-ref-palette-neutral90: #ece0df;
    --md-ref-palette-neutral95: #fbeeed;
    --md-ref-palette-neutral98: #fff8f7;
    --md-ref-palette-neutral99: #fffbff;
    --md-ref-palette-neutral100: #ffffff;

    --md-ref-palette-neutral-variant0: #000000;
    --md-ref-palette-neutral-variant10: #251818;
    --md-ref-palette-neutral-variant20: #3b2d2d;
    --md-ref-palette-neutral-variant25: #463838;
    --md-ref-palette-neutral-variant30: #524343;
    --md-ref-palette-neutral-variant35: #5f4f4e;
    --md-ref-palette-neutral-variant40: #6b5a5a;
    --md-ref-palette-neutral-variant50: #857372;
    --md-ref-palette-neutral-variant60: #a08c8c;
    --md-ref-palette-neutral-variant70: #bba6a6;
    --md-ref-palette-neutral-variant80: #d7c1c1;
    --md-ref-palette-neutral-variant90: #f4dddc;
    --md-ref-palette-neutral-variant95: #ffedec;
    --md-ref-palette-neutral-variant98: #fff8f7;
    --md-ref-palette-neutral-variant99: #fffbff;
    --md-ref-palette-neutral-variant100: #ffffff;
    
    --md-sys-color-primary-light: var(--md-ref-palette-primary40);
    --md-sys-color-on-primary-light: var(--md-ref-palette-primary100);
    --md-sys-color-primary-container-light: var(--md-ref-palette-primary90);
    --md-sys-color-on-primary-container-light: var(--md-ref-palette-primary10);
    
    --md-sys-color-background-light: var(--md-ref-palette-neutral99);
    --md-sys-color-on-background-light: var(--md-ref-palette-neutral10);
    --md-sys-color-surface-light: var(--md-ref-palette-neutral99);
    --md-sys-color-on-surface-light: var(--md-ref-palette-neutral10);
    --md-sys-color-surface-variant-light: var(--md-ref-palette-neutral-variant90);
    --md-sys-color-on-surface-variant-light: var(--md-ref-palette-neutral-variant30);
    --md-sys-color-outline-light: var(--md-ref-palette-neutral-variant50);
    --md-sys-color-outline-variant-light: var(--md-ref-palette-neutral-variant80);
    --md-sys-color-inverse-primary-light: var(--md-ref-palette-primary80);
    --md-sys-color-inverse-surface-light: var(--md-ref-palette-neutral20);
    --md-sys-color-inverse-on-surface-light: var(--md-ref-palette-neutral95);
    --md-sys-color-surface-tint-light: var(--md-ref-palette-primary40);
    --md-sys-color-scrim-light: var(--md-ref-palette-neutral0);

    --md-sys-color-primary-dark: var(--md-ref-palette-primary80);
    --md-sys-color-on-primary-dark: var(--md-ref-palette-primary20);
    --md-sys-color-primary-container-dark: var(--md-ref-palette-primary30);
    --md-sys-color-on-primary-container-dark: var(--md-ref-palette-primary90);
    
    --md-sys-color-background-dark: var(--md-ref-palette-neutral10);
    --md-sys-color-on-background-dark: var(--md-ref-palette-neutral90);
    --md-sys-color-surface-dark: var(--md-ref-palette-neutral10);
    --md-sys-color-on-surface-dark: var(--md-ref-palette-neutral90);
    --md-sys-color-surface-variant-dark: var(--md-ref-palette-neutral-variant30);
    --md-sys-color-on-surface-variant-dark: var(--md-ref-palette-neutral-variant80);
    --md-sys-color-outline-dark: var(--md-ref-palette-neutral-variant60);
    --md-sys-color-outline-variant-dark: var(--md-ref-palette-neutral-variant30);
    --md-sys-color-inverse-primary-dark: var(--md-ref-palette-primary40);
    --md-sys-color-inverse-surface-dark: var(--md-ref-palette-neutral90);
    --md-sys-color-inverse-on-surface-dark: var(--md-ref-palette-neutral10);
    --md-sys-color-surface-tint-dark: var(--md-ref-palette-primary80);
    --md-sys-color-scrim-dark: var(--md-ref-palette-neutral0);

    /*--background-color-alt: #f7f7f7;*/
    --background-color-alt: var(--md-ref-palette-neutral95);
}

/* global */
html {
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Segoe UI", "BIZ UDPGothic", "Meiryo", sans-serif;
    line-height: 1.5;
}
img { display: block; }
.page-title { padding: 1rem 0; background-color: var(--md-sys-color-primary); color: var(--md-sys-color-on-primary); }
h2{ text-align: center; color:var(--md-sys-color-primary); }
div .divider { margin: 2px 0; }
.card { height: 100%; }
.card .card-title { font-weight: normal; }
.card .card-content { padding: 12px; }
.card-container { gap: 1rem; }
.work-img-container { aspect-ratio: 16/9; background-color: #000000; }
.member-img-container { aspect-ratio: 4/3; background-color: #FFFFFF; }
.work-img-container > img, .member-img-container > img { object-fit: contain; width: 100%; height: 100%; }
.flex-center { display: flex; flex-direction: column; justify-content: center; align-items: center; }

/* header */
.brand-logo { letter-spacing: 7px; }
nav { background-color: var(--md-sys-color-primary); color: var(--md-sys-color-on-primary); }
nav ul a { letter-spacing:2px; font-weight:300; }
.sidenav { padding-left: 16px; width: 200px }
.sidenav li { list-style-type: none; border-bottom: 1px var(--md-sys-color-primary) solid; }
.sidenav li a { padding: 0px; }

/* footer */
footer h2 { font-weight: 400; font-size: 1.64rem; line-height: 110%; margin: calc(1.64rem / 1.5) 0 calc(1.64rem / 2.5) 0; color: var(--md-sys-color-on-primary); text-align: start; }

/* TOP */
.toppage .section:nth-child(odd) { background:var(--background-color-alt); }

#toppage-banner { max-height: 864px; position: relative; }
#toppage-banner img { width: 100%; height: auto; }

#intro h3 { color: var(--md-sys-color-primary); }
.promo-headline { font-weight: 400; font-size: 1.64rem; line-height: 110%; margin: calc(1.64rem / 1.5) 0 calc(1.64rem / 2.5) 0;}
.promo i { color: var(--md-sys-color-primary); font-size: 7rem; }

.toppage #works .img-side > .row { gap: 4px; }
.img-matrix-img-container { border-radius: 7.2% / 12.8%; overflow: hidden; }

#booklets .img-side, #members .img-side { display: flex; gap: 8px; justify-content: center; }
#booklets .img-side > * { flex-basis: 33%; }
#members .img-side > * { flex-basis: 25%; }

#contact h3 {font-weight: 400; font-size: 1.64rem; margin: calc(1.64rem / 1.5) 0 calc(1.64rem / 2.5) 0; }
#contact .card { background-color: var(--md-sys-color-primary); color: var(--md-sys-color-on-primary); }

/* works */
.work-card-container > .col { display: grid; grid-template-rows: subgrid; grid-row: span 5; gap: 0px; }
.work-card-container .card { display: inherit; grid-template-rows: inherit; grid-row: inherit; gap: inherit; }
.work-card-container .card .card-image { grid-row: span 1; gap: inherit; }
.work-card-container .card .card-content { display: inherit; grid-template-rows: inherit; grid-row: span 4; gap: inherit; }
.work-metadata { color: rgba(64, 64, 64, 0.87); font-size: 12px; line-height: 1.25; }
.yt-btn-container { margin-top: auto; }

/* members */
.member-card-content { gap: 1rem; }
