<!DOCTYPE html>
<html lang="ja" theme="light">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="北海道大学,北大,サークル,アニメーション研究会,アニ研">

{% seo %}

  <!-- CSS  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.1.1/dist/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/assets/css/style.css" type="text/css" rel="stylesheet">
</head>

<body id="top">
  <div class="navbar-fixed">
    <nav id="nav_f" role="navigation">
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo" id="logo-container">HAL</a>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">TOP</a></li>
          <li><a href="/works/">Works</a></li>
          <li><a href="/booklets/">Booklets</a></li>
          <li><a href="/members/">Members</a></li>
          <li><a href="https://www.youtube.com/@hokudai_anime" target="_blank" rel="noopener">YouTube</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="nav-mobile">
    <li><a href="/">TOP</a></li>
    <li><a href="/works/">Works</a></li>
    <li><a href="/booklets/">Booklets</a></li>
    <li><a href="/members/">Members</a></li>
    <li><a href="https://www.youtube.com/@hokudai_anime" target="_blank" rel="noopener">YouTube</a></li>
  </ul>
  
  {{ content }}

  <footer id="contact_f" class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h2>Bio</h2>
          <p>
            北大アニ研は北海道大学の公認サークルです。<br>
            当サークルへのご連絡は以下のメールアドレスへお願いいたします。<br>
            Mail : hal.thiroshi753@gmail.com
          </p>
        </div>
        <div class="col l3 s12">
          <h2>SiteMap</h2>
          <ul>
            <li><a href="/">TOP</a></li>
            <li><a href="/works/">Works</a></li>
            <li><a href="/booklets/">Booklets</a></li>
            <li><a href="/members/">Members</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h2>Links</h2>
          <ul>
            <li><a href="https://twitter.com/hokudai_anime">X(旧Twitter)</a></li>
            <li><a href="https://www.youtube.com/@hokudai_anime">YouTube</a></li>
            <li><a href="https://www.instagram.com/hokudai_anime/">Instagram</a></li>
            <li><a href="https://hokudai-anime.booth.pm/">Online Shop</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.1.1/dist/js/materialize.min.js"></script>
  <script src="/assets/js/init.js"></script>
</body>

</html>
